:root{
    --w3teal: #009688;
    --w3blue-gray: #607d8b;
}

.w3-container{
    min-height: 50px;
}

.container{
    background: var(--w3blue-gray);
    width:95%;
    margin: 10px auto;
    min-height: 675px;
    min-width: 1080px;
    color:ivory;
    text-align:center;
    border: 3px solid darkslategray;
}



